<div class="pokedex">
    <div class="buttons">
        <a class="btn" [class.btn--selected]="selectedTop === 0" (click)="selectTop(0)">
            {{ 'topheight.biggest' | translate }}
        </a>
        <a class="btn" [class.btn--selected]="selectedTop === 1" (click)="selectTop(1)">
            {{ 'topheight.smallest' | translate }}
        </a>
    </div>
    <div class="loading-container" *ngIf="!isLoaded">
        <app-loading></app-loading>
        <div class="loading-text">{{ 'loading.topheight' | translate }}</div>
    </div>
    <i
        class="arrow arrow__desktop fas fa-caret-left"
        (click)="pressArrowLeft()"
        [class.arrow--disabled]="!canLeft()"
    ></i>
    <div class="pokedex__display">
        <div class="all-container" *ngIf="topBigArr.length > 0">
            <div class="pokemon__number">
                {{ currentPokemon + 1 }}
            </div>
            <div class="trainer-container" [class.trainer-container--smallTop]="selectedTop === 1">
                <div class="elem-container">
                    <div id="trainer-canvas-container" class="elem-image-container">
                        <img id="trainer-img" src="assets/img/trainer.png" class="elem-image" />
                    </div>
                    <div class="elem-height">{{ trainerHeight }} m</div>
                </div>
            </div>
            <div class="pokemons-container">
                <div id="pokemon-canvas-container" class="elem-image-container"></div>
                <div id="pokemon-height" class="elem-height">{{ currentHeight }} m</div>
            </div>
        </div>
    </div>
    <i
        class="arrow arrow__desktop fas fa-caret-right"
        (click)="pressArrowRight()"
        [class.arrow--disabled]="!canRight()"
    ></i>
    <div class="mobile-buttons">
        <i class="arrow fas fa-caret-left" (click)="pressArrowLeft()" [class.arrow--disabled]="!canLeft()"></i>
        <i class="arrow fas fa-caret-right" (click)="pressArrowRight()" [class.arrow--disabled]="!canRight()"></i>
    </div>
</div>
