// .prueba {
//     display: none;
// }

@import '../../variables.scss';

.container {
    margin: 0 auto;
    padding: 3rem;
    padding-left: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: $primary-backgroundColor;
    width: 70vw;
    height: 70vh;

    border-radius: 2rem;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
        width: 100%;
        // height: 100vh;
        padding-left: 0;
        padding: 3rem;
        height: calc(100vh - 80px);
        border-radius: 0;
    }

    @media only screen and (max-width: 320px) {
        padding: 1rem;
    }
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 800px) {
        width: 80%;
        height: 40%;
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
    }

    @media only screen and (max-width: 450px) {
        // display: none;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    @media only screen and (max-width: 375px) {
        flex-direction: column;
    }

    &__select {
        font-size: 2rem;
        color: $gray-textColor;
        background-color: $quaternary-backgroundColor;
        border: none;
        padding: 1rem 2rem;
        border-radius: 1rem;
        width: 60%;
        margin-right: 1rem;

        @media only screen and (max-width: 375px) {
            display: none;
        }
    }
    &__input {
        font-size: 2rem;
        color: $gray-textColor;
        background-color: $quaternary-backgroundColor;
        border: none;
        padding: 1rem 2rem;
        border-radius: 1rem;
        width: 100%;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $gray-textColor;
        }
    }

    &__button {
        border: none;
        background-color: $quaternary-backgroundColor;

        &:focus {
            outline: none;
        }
    }
}

.pokemon-list {
    width: 100%;
    height: 90%;
    background-color: $secondary-backgroundColor;

    border: 1.3rem solid $borderColor;
    border-radius: 2rem;
    overflow: auto;

    &__item {
        display: flex;
        flex-direction: column;

        background-color: $tertiary-backgroundColor;
        border-radius: 0.5rem;
        margin: 1rem 1rem;

        color: $tertiary-textColor;
        padding: 0.5rem 1rem;
        font-size: 1.8rem;

        &:hover {
            background-color: #4694a5;
            cursor: pointer;
        }

        &--selected {
            background-color: #bce5f0;
            color: #358496;
            &:hover {
                background-color: #c9eaf3;
                cursor: pointer;
            }
        }
    }

    &__name {
        padding-left: 3rem;
    }
}

// SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 10px;
    margin: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $quaternary-backgroundColor;
    border-radius: 1rem;
    border: 2px solid $tertiary-backgroundColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $tertiary-backgroundColor;
    border-radius: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;

    @media only screen and (max-width: 800px) {
        flex-direction: column;
        width: 80%;
        height: 50%;
    }

    @media only screen and (max-width: 600px) {
        width: 100%;
    }

    @media only screen and (max-width: 450px) {
        height: 70%;
    }
}

.inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;

    @media only screen and (max-width: 375px), (min-height: 900px) {
        height: 80%;
    }
}

.pokemon-display {
    width: 75%;
    // height: 85%;
    background-color: $secondary-backgroundColor;
    border: 1.3rem solid $borderColor;
    border-radius: 2rem;

    @media only screen and (max-width: 450px) {
        // height: 70%;
        width: 100%;
    }

    &__container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__name {
        width: 90%;
        height: 20%;
        margin: 10px;

        font-size: 20px;
        color: $primary-textColor;

        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: 450px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 375px) {
            font-size: 1.5rem;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: auto;
        @media only screen and (max-width: 800px) {
            width: 60%;
        }

        @media only screen and (max-width: 600px) {
            width: 50%;
        }
        &--main {
            margin-top: 1rem;
            width: 160%;
            height: auto;
        }
        &--shiny {
            display: flex;
            align-content: flex-end;
            width: 50%;
            height: 25%;
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__imageType {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        width: 70%;
        margin-bottom: 1rem;
        img {
            width: 40%;
        }
    }
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;

    // @media only screen and (max-width: 375px) {
    //     flex-direction: column;
    //     align-items: center;
    // }
}

.optionColor {
    &__normal {
        color: rgb(180, 172, 146);
    }
    &__fighting {
        color: rgb(196, 72, 72);
    }
    &__flying {
        color: rgb(197, 170, 240);
    }
    &__poison {
        color: rgb(179, 87, 187);
    }
    &__ground {
        color: rgb(233, 210, 136);
    }
    &__rock {
        color: rgb(206, 181, 113);
    }
    &__bug {
        color: rgb(186, 218, 114);
    }
    &__steel {
        color: rgb(204, 206, 216);
    }
    &__fire {
        color: rgb(243, 160, 65);
    }
    &__water {
        color: rgb(140, 176, 231);
    }
    &__grass {
        color: rgb(143, 212, 111);
    }
    &__electric {
        color: rgb(180, 172, 146);
    }
    &__psychic {
        color: rgb(240, 118, 179);
    }
    &__ice {
        color: rgb(156, 229, 235);
    }
    &__dark {
        color: rgb(78, 73, 54);
    }
    &__fairy {
        color: rgb(245, 181, 213);
    }
}
