<div class="container">
    <div class="pokemon-list">
        <div class="pokemon-list__item" *ngFor="let pokemon of pokemonList; index as i">
            <div><span>{{i}}</span><span class="pokemon-list__name">{{pokemon.name | uppercase}}</span></div>
        </div>
    </div>
    <div class="pokemon-display">
        <!-- <div><button class="btn" routerLink="/detail/{{i}}">Details</button></div>
        <div><button class="btn" routerLink="/map">Location</button></div> -->
    </div>
</div>

<!-- <div class="container">
    <div class="pokemon-list" *ngFor="let pokemon of pokemonList; index as i">
        <div class="pokemon-list__name">{{pokemon.name}}</div>
    </div>
    <div class="pokemon-list__options">
        <div><button class="btn" routerLink="/detail/{{i}}">Details</button></div>
        <div><button class="btn" routerLink="/map">Location</button></div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="pokemon-list" *ngFor="let pokemon of pokemonList; index as i">
        <div class="pokemon-list__img">{{pokemon.sprites.front_default}}</div>
        <div class="pokemon-list__name">{{pokemon.name}}</div>
        <div class="pokemon-list__options">
            <div><button class="btn" routerLink="/detail/{{i}}">Details</button></div>
            <div><button class="btn" routerLink="/map">Location</button></div>
        </div>
    </div>
</div> -->