<div class="container">
    <div class="left">
        <form action="#" class="search">
            <select
                class="search__select"
                [(ngModel)]="selectType"
                (change)="onChange($event.target.value)"
            >
                <option value="" selected style="display:none">Type</option>
                <option value="any">Any</option>
                <option value="normal" class="optionColor__normal"
                    >Normal</option
                >
                <option value="fighting" class="optionColor__fighting"
                    >Fighting</option
                >
                <option value="flying" class="optionColor__flying"
                    >Flying</option
                >
                <option value="poison" class="optionColor__poison"
                    >Poison</option
                >
                <option value="ground" class="optionColor__ground"
                    >Ground</option
                >
                <option value="rock" class="optionColor__rock">Rock</option>
                <option value="bug" class="optionColor__bug">Bug</option>
                <option value="steel" class="optionColor__steel">Steel</option>
                <option value="fire" class="optionColor__fire">Fire</option>
                <option value="water" class="optionColor__water">Water</option>
                <option value="grass" class="optionColor__grass">Grass</option>
                <option value="electric" class="optionColor__electric"
                    >Electric</option
                >
                <option value="psychic" class="optionColor__psychic"
                    >Psychic</option
                >
                <option value="ice" class="optionColor__ice">Ice</option>
                <option value="dark" class="optionColor__dark">Dark</option>
                <option value="fairy" class="optionColor__fairy">Fairy</option>
            </select>
            <input
                type="text"
                class="search__input"
                (input)="filterList($event.target.value)"
                placeholder="Search Pokemon"
                name="term"
                [(ngModel)]="term"
            />
            <button class="search__button"></button>
        </form>
        <div class="pokemon-list">
            <div
                class="pokemon-list__item"
                *ngFor="
                    let pokemon of pokemonList | filterName: term;
                    index as i
                "
                (click)="choosePokemon(pokemon, i)"
            >
                <div>
                    <span>{{ pokemon.id }}</span>
                    <span class="pokemon-list__name">{{
                        pokemon.name | uppercase
                    }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="inline">
            <i class="arrow fas fa-caret-left" (click)="leftArrow()"></i>
            <div class="pokemon-display">
                <div
                    *ngIf="pokemonSelect !== undefined"
                    class="pokemon-display__container"
                >
                    <div class="pokemon-display__name">
                        {{ pokemonSelect.name | uppercase }}
                    </div>
                    <div class="pokemon-display__image">
                        <img
                            src="{{ pokemonSelect.image }}"
                            alt="pokemonImage"
                        />
                    </div>
                </div>
            </div>
            <i class="arrow fas fa-caret-right" (click)="rightArrow()"></i>
        </div>
        <div class="options">
            <div>
                <a href="#" class="btn" routerLink="/detail/{{ i }}">Details</a>
            </div>
            <div><a href="#" class="btn" routerLink="/map">Location</a></div>
        </div>
    </div>
</div>
