<div class="container">
    <div class="left">
        <form action="#" class="search">
            <select
                class="search__select"
                [(ngModel)]="selectType"
                (change)="onChange($event.target.value)"
            >
                <option value="" selected style="display:none">Type</option>
                <option value="anygit ">Any</option>
                <option value="normal">Normal</option>
                <option value="fighting">Fighting</option>
                <option value="flying">Flying</option>
                <option value="poison">Poison</option>
                <option value="ground">Ground</option>
                <option value="rock">Rock</option>
                <option value="bug">Bug</option>
                <option value="steel">Steel</option>
                <option value="fire">Fire</option>
                <option value="water">Water</option>
                <option value="grass">Grass</option>
                <option value="electric">Electric</option>
                <option value="psychic">Psychic</option>
                <option value="ice">Ice</option>
                <option value="dark">Dark</option>
                <option value="fairy">Fairy</option>
            </select>
            <input
                type="text"
                class="search__input"
                (input)="filterList($event.target.value)"
                placeholder="Search Pokemon"
                name="term"
                [(ngModel)]="term"
            />
            <button class="search__button"></button>
        </form>
        <div class="pokemon-list">
            <div
                class="pokemon-list__item"
                *ngFor="
                    let pokemon of pokemonList | filterName: term;
                    index as i
                "
                (click)="choosePokemon(pokemon, i)"
            >
                <div>
                    <span>{{ pokemon.id }}</span>
                    <span class="pokemon-list__name">{{
                        pokemon.name | uppercase
                    }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="inline">
            <i class="arrow fas fa-caret-left" (click)="leftArrow()"></i>
            <div class="pokemon-display">
                <div
                    *ngIf="pokemonSelect !== undefined"
                    class="pokemon-display__container"
                >
                    <div class="pokemon-display__name">
                        {{ pokemonSelect.name | uppercase }}
                    </div>
                    <div class="pokemon-display__image">
                        <img
                            src="{{ pokemonSelect.image }}"
                            alt="pokemonImage"
                        />
                    </div>
                </div>
            </div>
            <i class="arrow fas fa-caret-right" (click)="rightArrow()"></i>
        </div>
        <div class="options">
            <div><a class="btn" routerLink="/detail/{{pokemonSelect.id}}">Details</a></div>
            <div><a href="#" class="btn" routerLink="/map/{{pokemonSelect.id}}">Location</a></div>
        </div>
    </div>
</div>
