.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
    background-color: yellow;
    width: 80%;
    height: 50%;

    margin: 0 auto;
    margin-bottom: 50vh;
    padding: 15px;
}

.pokemon-list {
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 10px;
    background-color: white;


    &__options {
        display: flex;
    }
}

.btn {
    margin-right: 10px;
}