<div class="container">
    <div class="display">
        <div class="left">
            <div class="pokemon--name">
                Pikachu
            </div>
            <div class="pokemon--img">
                <img
                    src="{{pokemonSelected}}"
                    alt=""
                />
            </div>
        </div>
        <div class="right">
            <div class="map-container">
                <div class="map-frame">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button">
            Details
        </div>
    </div>
</div>
