.nav {
    background-color: #ea4747;
    height: 80px;
    box-shadow: 0 5px 16px rgb(187, 187, 187);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.elements-right {
    margin-left: auto;
    display: flex;
}

.logo {
    height: 80%;
    width: auto;
    margin: 5px;
}

.title {
    color: white;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-shadow: -2px 0 #256b7a, 0 2px #256b7a, 2px 0 #256b7a, 0 -2px #256b7a;
    font-size: 28px;
    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    cursor: default;
}

.option {
    color: white;
    font-size: 18px;
    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    &:hover {
        background-color: rgb(247, 97, 97);
        cursor: pointer;
    }
}
