.pokedex-title {
    font-size: 7rem;
    text-align: center;
    
    font-weight: bold;
    -webkit-text-fill-color: #FFFFFF;
    -webkit-text-stroke-color: #358496;
    -webkit-text-stroke-width: .3rem; 
}
