$primary-backgroundColor: #ea4747;
$secondary-backgroundColor: #81c8d8;
$tertiary-backgroundColor: #358496;
$quaternary-backgroundColor: #ffffff;

$primary-textColor: #478390;
$secondary-textColor: #000000;
$tertiary-textColor: #ffffff;

$gray-textColor: #b5b5b5;
$borderColor: #e7f0f2;
$arrowColor: #503737;
$button-backgroundColor: #e7f0f2;
$title-shadowColor: #256b7a;
