$primary-backgroundColor: #EA4747;
$secondary-backgroundColor: #81C8D8;
$tertiary-backgroundColor: #358496;
$quaternary-backgroundColor: #FFFFFF;

$primary-textColor: #478390;
$secondary-textColor: #000000;
$tertiary-textColor: #FFFFFF;

$gray-textColor: #b5b5b5;
$borderColor: #FFFFFF;
$arrowColor: #503737;
$button-backgroundColor: #e7f0f2;