$primary-backgroundColor: #EA4747;
$secondary-backgroundColor: #81C8D8;
$tertiary-backgroundColor: rgb(33, 107, 91);
$quaternary-backgroundColor: #FFFFFF;

$primary-textColor: rgb(42, 158, 143);
$secondary-textColor: #000000;
$tertiary-textColor: #FFFFFF;

$borderColor: #FFFFFF;
$buttonBackColor: #503737;