<div class="container">
  <div class="container__general">
    <div class="container__general--name">
      <div class="container__general--name--title">

        {{ pokemonSelected.name }}

      </div>
      <div class="container__general--name--img">
        <img src="{{ pokemonSelected.sprites.front_default }}" alt="">


      </div>
    </div>
    <div class="container__general--details">
      <div class="container__general--details1">
        <div class="container__general--details1--property1">
          <div class="container__general--details1--property1--number">
            {{ pokemonSelected.id }}


          </div>
          <div class="container__general--details1--property1--1">
            {{ pokemonSelected.types[0].type.name }}
          </div>
          <div class="container__general--details1--property1--2">
            {{ pokemonSelected.types[1].type.name }}
          </div>

        </div>
        <div class="container__general--details1--property2">
          <div class="container__general--details1--property2--1">
            <p>Height</p>
            <div class="container__general--details1--property2--units">
              <p>{{ pokemonSelected.height }} cm</p>
            </div>
          </div>
          <div class="container__general--details1--property2--2">
            <p>Weight</p>
            <div class="container__general--details1--property2--units">
              <p> {{ pokemonSelected.weight }} Kg</p>
            </div>
          </div>
          <div class="container__general--details1--property2--3">
            <p>Description</p>
          </div>
        </div>
      </div>
      <div class="container__general--details2">
        <div class="container__general--details2--description">
          <!-- {{  }} -->
        </div>
      </div>
    </div>

  </div>

  <div class="container__buttons">
    <i class="fas fa-caret-left" routerLink="/list"></i>
    <a class="container__buttons--location" routerLink="/map" >Location</a>
  </div>
</div>
