@import '../../variables.scss';

//-------------- MAIN STYLES ----------------//

.container {
  margin: 0 auto;
  width: 80rem;
  height: 40rem;
  background-color: $primary-backgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.general {
  width: 90%;
  height: 75%;
  background-color: $secondary-backgroundColor;
  border: 1.3rem solid $borderColor;
  border-radius: 2rem;
  margin-top: 10px;
  display: flex;
}

.left {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &--title {
    width: 85%;
    height: 18%;
    background-color: $quaternary-backgroundColor;
    color: $primary-textColor;
    border-radius: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  &--img {
    width: 85%;
    height: 70%;
  }

  img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}

.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.details {
  width: 100%;
  height: 60%;
  display: flex;

  &__element1 {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: $secondary-textColor;

    &--position {
      width: 80%;
      height: 30%;
      font-size: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $primary-textColor;
    }

    &--property1 {
      width: 80%;
      height: 20%;
      background-color: yellow;
      font-size: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    &--property2 {
      width: 80%;
      height: 20%;
      background-color: $primary-backgroundColor;
      font-size: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }
  }

  &__element2 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: $primary-textColor;

    &--property1 {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
    }

    &--property2 {
      width: 50%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
    }

    &--descriptionTitle {
      width: 100%;
      height: 50%;
      font-size: 3rem;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

    &--units {
      width: 60%;
      height: 35%;
      background-color: $tertiary-backgroundColor;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      font-size: 2rem;
      color: $tertiary-textColor;
    }
  }

  &--description {
    width: 100%;
    height: 35%;
  }
}

.description {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &--text {
    width: 95%;
    height: 80%;
    border-radius: 1rem;
    background-color: $tertiary-backgroundColor;
    font-size: 1.8rem;
    color: $tertiary-textColor;
    padding: 1rem;
  }
}

.buttons {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;

  i {
    font-size: 8rem;
  }
}


//-------------- REPONSIVE STYLES ----------------//

@media screen and (max-width:500px) {
  .container {
    width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .general {
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 20%;

    &--title {
      width: 70%;
      height: 70%;
      font-size: 3rem;
    }

    &--img {
      display: none;
    }
  }

  .details {
    flex-direction: column;

    &__element1 {
      width: 100%;
      height: 50%;
      flex-direction: row;
      flex-wrap: wrap;

      &--property1 {
        width: 40%;
        height: 35%;
      }

      &--property2 {
        width: 40%;
        height: 35%;
      }
    }

    &__element2 {
      width: 100%;
      height: 50%;

      &--property1 {
        height: 70%;
      }

      &--property2 {
        height: 70%;
      }

      &--descriptionTitle {
        margin-top: 15px;
        font-size: 30px;
        height: 30%;
      }

      &--units {
        width: 75%;
        height: 45%;
      }
    }
  }
  .description {

    &--text {
      font-size: 20px;
      padding: 10px;
    }
  }

  .buttons {
    width: 90%;
    height: 10%;
    justify-content: center;

    i {
      font-size: 7.5rem;
    }

    // &--location {
    //   width: 180px;
    //   height: 60px ;
    // }
  }
}
