//--------------  RESET ----------------------//

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

//--------------  VARAIBLES ----------------------//

$primary-backgroundColor: rgb(247, 29, 29);
$secundary-backgroundColor: rgb(174, 228, 245);
$tertiary-backgroundColor: rgb(33, 107, 91);
$quaternary-backgroundColor: white;
$primary-textColor: rgb(42, 158, 143);
$secundary-textColor: black;
$tertiary-textColor: white;

//-------------- MAIN STYLES ----------------//

.container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 500px;
    background-color: $primary-backgroundColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    &__general {
        width: 90%;
        height: 75%;
        background-color: $secundary-backgroundColor;
        border: 12px solid white;
        border-radius: 15px;
        margin-top: 10px;
        display: flex;

        &--name {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &--title {
                width: 85%;
                height: 18%;
                background-color: $quaternary-backgroundColor;
                color: $primary-textColor;
                border-radius: 8px;
                font-size: 3em;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
            }

            img {
                max-width: 100%;
            }

            &--img {
                width: 85%;
                height: 70%;
            }
        }
        &--details {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &--details1 {
            width: 100%;
            height: 60%;
            display: flex;

            &--property1 {
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                color: $secundary-textColor;

                &--number {
                    width: 80%;
                    height: 30%;
                    font-size: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $primary-textColor;
                }

                &--1 {
                    width: 80%;
                    height: 20%;
                    background-color: yellow;
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                }

                &--2 {
                    width: 80%;
                    height: 20%;
                    background-color: $primary-backgroundColor;
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                }
            }

            &--property2 {
                width: 70%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                color: rgb(42, 158, 143);

                &--1 {
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                }

                &--2 {
                    width: 50%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 25px;
                }

                &--3 {
                    width: 100%;
                    height: 50%;
                    font-size: 25px;
                    text-transform: uppercase;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }

                &--units {
                    width: 60%;
                    height: 35%;
                    background-color: $tertiary-backgroundColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    font-size: 20px;
                    color: $tertiary-textColor;
                }
            }
            &--description {
                width: 100%;
                height: 35%;
            }
        }

        &--details2 {
            width: 100%;
            height: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            &--description {
                width: 95%;
                height: 80%;
                border-radius: 8px;
                background-color: $tertiary-backgroundColor;
                font-size: 18px;
                color: $tertiary-textColor;
                padding: 10px;
            }
        }
    }

    &__buttons {
        width: 90%;
        height: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;

        i {
            font-size: 55px;
        }

        &--location {
            width: 130px;
            height: 40px;
            margin-left: 20px;
            box-sizing: border-box;
            background-color: $quaternary-backgroundColor;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $secundary-textColor;
            border-radius: 15px;
            font-size: 20px;
        }
    }
}

//-------------- REPONSIVE STYLES ----------------//

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        height: 100%;

        &__general {
            flex-direction: column;

            &--name {
                width: 100%;
                height: 20%;

                &--title {
                    width: 70%;
                    height: 70%;
                    font-size: 40px;
                }

                &--img {
                    display: none;
                }
            }

            &--details1 {
                flex-direction: column;

                &--property1 {
                    width: 100%;
                    height: 50%;
                    flex-direction: row;
                    flex-wrap: wrap;

                    &--number {
                        font-size: 40px;
                    }

                    &--1 {
                        width: 40%;
                        height: 35%;
                        font-size: 30px;
                    }

                    &--2 {
                        width: 40%;
                        height: 35%;
                        font-size: 30px;
                    }
                }

                &--property2 {
                    width: 100%;
                    height: 50%;

                    &--1 {
                        height: 70%;
                        font-size: 40px;
                    }

                    &--2 {
                        height: 70%;
                        font-size: 40px;
                    }

                    &--3 {
                        margin-top: 15px;
                        font-size: 30px;
                        height: 30%;
                    }

                    &--units {
                        width: 75%;
                        height: 45%;
                        font-size: 25px;
                    }
                }
            }
            &--details2 {
                &--description {
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }

        &__buttons {
            width: 90%;
            height: 10%;
            justify-content: center;

            i {
                font-size: 50px;
            }

            &--location {
                width: 180px;
                height: 60px;
                font-size: 30px;
            }
        }
    }
}
